.todo-list-container {
  text-align: center;
  height: 62vh;
  /* overflow-y: scroll; */
  position: relative;
  background-color: white;
  border: none;
  padding: 1rem 3rem 5rem 3rem;
}

.todo-item {
  font-family: "Lucida Console", "Courier New", monospace;
  height: 3rem;
}

.temp {
  text-align: center;
  height: 100%;
  overflow-y: scroll;
  position: relative;
  background-color: white;
  border: none;
}
