.todo-item-container {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: medium;
  color: rgb(71, 63, 63);
}

.completed {
  stroke: rgb(24, 211, 56);
  color: rgb(185, 185, 185);
}
.check {
  font-size: 1.2rem;
}

.completed > .check {
  color: green;
}

.pending > .check {
  color: black;
}
